#fastapi/requirements.txt
fastapi==0.95.1
uvicorn==0.22.0
pymupdf==1.24.10
streamlit==1.38.0
python-pptx==1.0.2
Pillow==10.4.0
requests==2.32.3
frontend==0.0.3
python-multipart==0.0.16
boto3
python-multipart
python-dotenv
pydantic
llama-index
transformers
torch
Pillow
python-pptx
pdf2image
pytesseract
snowflake-connector-python==3.12.3
pandas
tiktoken
altair==4.1.0
sqlalchemy
python-jose
bcrypt==4.0.1
passlib
psycopg2
python-multipart
newsapi-python==0.2.7
python-dotenv==1.0.1
# langchain-community==0.3.10
serpapi==0.1.5
google-search-results==2.4.2
anthropic
requests-cache
newspaper3k
lxml-html-clean
date-guesser
langdetect